# Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [16]:
import pandas as pd
import numpy as np

data = pd.read_csv('horse_data.csv', header=None)
data.head()
#data.columns = range(1,29)
#data = data[[1,2,4,5,6,7,11,23]]
#data.columns=['surgery','age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [11]:
data.replace('?', np.nan, inplace = True)
data.head(10)

,surgery,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,NaN,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,NaN,NaN,2
5,2,1,NaN,NaN,NaN,2,2,1
6,1,1,37.90,48,16,1,3,1
7,1,1,NaN,60,NaN,3,NaN,2
8,2,1,NaN,80,36,3,4,3
9,2,9,38.30,90,NaN,1,5,1

In [4]:
#data = data.astype({'surgery': 'int64', 'rectal temperature': 'float64','pulse': 'int64','respiratory rate': 'int64','pain': 'int64','outcome': 'int64'})
#data['temperature of extremities'] = pd.to_numeric(data['temperature of extremities'], errors='coerce')
# Surgery 
data.isna().sum()

surgery                        1
age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

# Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [7]:
# Surgery 
data['surgery'].mode()[0] #1
data['surgery'].value_counts() # была операция - 180, не было операции - 118
#В основном лечение лошади не обходится без операции

# Age
data['age'].value_counts() # 1 year - 275, 9 years - 24
data.loc[data.age == 9,'surgery'].value_counts() # 25% лошадей в 9 летнем возрасте лечится с помощью операции
data.loc[data.age == 1,'surgery'].value_counts() # 40% лошадей в 1 летнем возрасте лечится с помощью операции
# Примерно 90% пациентов это лошади в годовалом возрасте. Прямой взаимосвязи между возрастом лошади и сложностью лечения
# требуется операция или нет - не выявлено)

#Rectal temperature	
data['rectal temperature'].mode()[0] #Самое частое значение температуры 38
data['rectal temperature'] = pd.to_numeric(data['rectal temperature'])
data['rectal temperature'].quantile() # медиана 38.2 градуса
data['rectal temperature'].std() # Отклонение в 0.7 градуса 
iqr = data['rectal temperature'].quantile(0.75) - data['rectal temperature'].quantile(0.25)
data['rectal temperature'].quantile(0.25) - (1.5 * iqr) # 36.7 нижний выброс
data['rectal temperature'].quantile(0.75) + (1.5 * iqr) #39.5 верхний выброс

#pain
data['pain'].mode()[0] #чаще всего обращаются с периодической легкой болью
data.loc[data.surgery == '1','pain'].value_counts() #в основном лошади, которым требуется операция от 2 до 5 уровня тяжести

#outcome
data['outcome'].value_counts() # осталось в живых - 178, умерло - 76, усыпили - 44
data.loc[data.surgery == '1',['outcome','age']].value_counts() # после операций чуть меньше половины лошадей или умирает
#или их приходится усыплять

outcome  age
1        1      88
2        1      48
3        1      26
2        9      10
1        9       7
3        9       1
dtype: int64

# Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [8]:
data.dropna(subset = ['surgery'], inplace = True)
data.isna().sum()

surgery                        0
age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        0
dtype: int64